.logo__header {
	font-family: Raleway, cursive;
	font-size: 24px;
	line-height: 1.16;
	letter-spacing: 0.03em;
	color: #000000;
	text-decoration: none;
}

.logo__footer {
	display: inline-block;
	margin-bottom: 20px;
	
	font-family: Raleway, cursive;
	font-size: 24px;
	line-height: 1.16;
	letter-spacing: 0.03em;
	color: #FFFFFF;
	text-decoration: none;
}

.logo__web {
	font-family: Raleway, cursive;
	font-size: 24px;
	line-height: 1.16;
	letter-spacing: 0.03em;
	color: $accent-color;
}